<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" href="/">
      <img src="/images/Q.png" width="35" height="30" alt="">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/play">Null</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/scores">Read posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/opponentCreate">Create a post</a>
      </li>
    </ul>
  </div>
</nav>
