<%- include('partials/header', {title:"Explore"}) -%>

<h2>Posts</h2>

<table>
  <tr>
    <th>
      Pseudonym
    </th>
    <th>
      Subject
    </th>
    <th>
      Date
    </th>
  </tr>
</table>


  <%- include('partials/footer') -%>
