<%- include('partials/header', {title:"Home"}) -%>

<h1> Blog-Anon </h1>
  <br>
  <br>
<h4> We created a website where people like you and me can create blog posts from the perspective of any person real or fake. You can create a pseudonym or choose one that already exists. We hope that you write from the perspective of Mark Twain, F Scott Fitzgerald, or anyone else you desire. Have fun and enjoy the endless possiblities of Blog-Anon.</h4>
  <a href="/play"></a>

<%- include('partials/footer') -%>
