<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<%- include('partials/header', {title:"index"}) -%>
<div class="container-fluid">
<h2> Blog-Anon </h2>

  <br>
  <br>
  <div class="jumbotron">
<p> We created a website where people like you and me can create blog posts from the perspective of any person real or fake.
    You can create a pseudonym or choose one that already exists. We hope that you write from the perspective of Mark Twain,
    F Scott Fitzgerald, or anyone else you desire. Have fun and enjoy the endless possiblities of Blog-Anon.</p>
</div>

<h2> About the Founders </h2>
<div class="jumbotron">
<p> Ben Gleeman, Aidan Cohen, Ryan McGranahan are three teen entrepreneurs born and raised in New York City. After attending various middle schools throughout the city, they ended up together at Trinity School NYC for high school. After years of cultivating strong interpersonal relationships, the trio realized they could work as an effective team. Following a substantial brainstorming session, Ben, Aidan, and Ryan came up with the idea for Blog-Anon. By providing individuals with access to anonymous blogging platform, people will not be afraid to truly express themselves in writing. We want to give everyone the opportunity to share what they might otherwise hide.</p>
</div>
<h2> Our mission is to provide a seamless blog experience that prioritizes safety and anonymity above all. </h2>

  <a href="/play"></a>

<%- include('partials/footer') -%>
