<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<%- include('partials/header', {title:"index"}) -%>

<h2> Blog-Anon </h2>

  <br>
  <br>
  <div class="jumbotron">
<p> We created a website where people like you and me can create blog posts from the perspective of any person real or fake.
    You can create a pseudonym or choose one that already exists. We hope that you write from the perspective of Mark Twain,
    F Scott Fitzgerald, or anyone else you desire. Have fun and enjoy the endless possiblities of Blog-Anon.</p>
</div>
  <a href="/play"></a>

<%- include('partials/footer') -%>
