<%- include('partials/header', {title:"Create Opponent"}) -%>

<h2>Create a post</h2>

<form action="/makePost" method="POST">
  <label for="name">Post:</label>
  <input type="text" id="name" name="opponentName" value=""><br>
  <br>
  <input type="submit" value="Publish">

</form>

<%- include('partials/footer') -%>
