
header{
  background-color: #FC4445;
  color: black;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-style: oblique;
  font-variant: small-caps;
}

h1, .pseudo{
  font-family: 'arial';
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

.col-12, h6 {
font-weight: 600;
}



p{
  padding-top: 10px;
  font-weight: 100;
}

 h2{
   padding-top: 10px;
   font-family: 'arial';
   font-family: 'Courier New', monospace;
   font-weight: bold;
 }

body{
  background-color: #FC4445;
  color: black;
  font-family: 'arial';
  font-family: 'Courier New', monospace;

}

table {
  border-collapse: collapse;
  background-color: #4dffe7;
  margin: auto;
  width: 50%;
}

table, th, td {
  background-color: white;
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

.jumbotron{
  padding: 10px;
  text-align: center;
}


a:hover{
  color: black;
}

.navbar, .collapse, .nav-item, .nav-link{
  background-color: white;
  color: grey;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-style: oblique;
  font-variant: small-caps;
  word-spacing: -5px;
}

a:active{
  color: black;
}
