
table {
  border-collapse: collapse;
  background-color: #4dffe7;
  margin: auto;
  width: 50%;
}

table, th, td {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

.jumbotron{
  padding: 10px;
  text-align: center;
}
