
header{
  background-color: #FC4445;
  color: black;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-style: oblique;
  font-variant: small-caps;
}

h1, .pseudo{
  font-family: 'arial';
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

.col-12, h6, i {
font-weight: 600;
}

.name{
  column-width: 200px;
}


.date{
  column-width: 200px;
}

p{
  padding-top: 10px;
  font-weight: 100;
}

 h2{
   text-align: center;
   padding-top: 20px;
   font-family: 'arial';
   font-family: 'Courier New', monospace;
   font-weight: bold;
 }

body{
  background-color: #FC4445;
  color: black;
  font-family: 'arial';
  font-family: 'Courier New', monospace;

}

table {
  margin: auto;
  margin-top: 2.5%
}

th, td {
  background-color: white;
  border: 1px solid black;
  padding: 3px;
  padding-top:5px;
  text-align: center;
}

.jumbotron{
  margin: 10px auto;
  width: 750px;
  padding: 10px;
  text-align: center;
}


a:hover{
  color: black;
}

a.current{
  color: black;
}

.navbar, .collapse, .nav-item, .nav-link{
  background-color: white;
  color: grey;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-style: oblique;
  font-variant: small-caps;
  word-spacing: -5px;
}

a:active{
  color: black;
}
