<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<%- include('../partials/header', {title:"Register Pseudonym"}) -%>

<div class="container-fluid">
  <div class="pseudo">
    <div class="reviews">
  <h2>Register a Pseudonym</h2>
  <br>
  <form action="/pseudonyms/registerPseudonym" method="POST">
    <div class="lab"><label for="Pseudonym">Pseudonym:</label></div>
    <input type="text" id="Pseudonym" name="Pseudonym" required><br><br>
    <div class="lab"><label for="Country">Country:</label></div>
    <input type="text" id="Country" name="Country" required><br><br>
    <div class="lab"><label for="Age">Age:</label></div>
    <input type="text" id="Age" name="Age" required><br><br>
    <input type="submit" value="Register">
  </form>
</div>
</div>
</div>
<%- include('../partials/footer') -%>
