<%- include('../partials/header', {title:"Register Pseudonym"}) -%>

<div class="container-fluid">
  <h2>Register a Pseudonym</h2>

  <form action="/pseudonyms/registerPseudonym" method="POST">
    <label for="Pseudonym">Pseudonym:</label><br>
    <input type="text" id="Pseudonym" name="Pseudonym" required><br><br>
    <input type="submit" value="Register">
  </form>

<%- include('../partials/footer') -%>
