<%- include('../partials/header', {title:"Write Review"}) -%>

<div class="container-fluid">
  <h2>Write a Review</h2>
<br>
  <form action="/reviews/writeReview" method="POST">
      <i><h6>How was your experience using this blog?</h6></i>
      <div class = "options">
        <br><input type="radio" id="great" name="Experience" value="Great">
        <label for="great">Great</label>
        <br><input type="radio" id="good" name="Experience" value="Good">
        <label for="good">Good</label>
        <br><input type="radio" id="satisfactory" name="Experience" value="Satisfactory">
        <label for="satisfactory">Satisfactory</label>
        <br><input type="radio" id="bad" name="Experience" value="Bad">
        <label for="bad">Bad</label>
    </div>
        <br><br><h6>How likely are you to return to this blog?</h6>
        <br><input type="radio" id="very_likely" name="Return" value="Very Likely">
        <label for="very_likely">Very Likely</label>
        <br><input type="radio" id="maybe" name="Return" value="Maybe">
        <label for="maybe">Maybe</label>
        <br><input type="radio" id="unlikely" name="Return" value="Unlikely">
        <label for="unlikely">Unlikely</label>
        <br><br><h6>Other thoughts on the blog?</h6>
        <textarea id="Text" name="Other" rows="4" cols="100"></textarea>
        <br><br>
        <input type="submit" value="Submit">
    </form>

</div>

<%- include('../partials/footer') -%>
