<%- include('../partials/header', {title:"Make Post"}) -%>

<h2>Create a post</h2>

<form action="/makePost" method="POST">
  <label for="pseudonym">Pseudonym:</label><br>
  <select name="pseudonym" id="pseudonym" required>
      <option disabled selected value> - Choose a Pseudonym - </option>
    <% for (pseudonym of Object.values(pseudonyms)){%>
      <option value="<%=pseudonym.Pseudonym%>"><%=pseudonym.Pseudonym%></option>
    <%}%></select><br>
  
  <br>
  <input type="submit" value="Publish">

</form>

<%- include('../partials/footer') -%>
