<%- include('../partials/header', {title:"Make Post"}) -%>

<div class="container-fluid">
  <h2>Create a Pseudonym</h2>

  <form action="/makeAuthor" method="GET">
    <label for="Pseudonym">Pseudonym:</label><br>
    <select name="Pseudonym" id="Pseudonym" required><br>
        <input type="Text" id="Title" name="Title" required><br><br>
        <input type="submit" value="Create">

    </form>

<%- include('../partials/footer') -%>
