<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<%- include('../partials/header', {title:"Make Post"}) -%>

<div class="container-fluid">
  <h2>Create a Post</h2>

  <form action="/posts/makePost" method="POST">
    <div class = "pseudo">
    <label for="Pseudonym">Pseudonym:</label>
    <br>
    <select name="Pseudonym" id="Pseudonym" required>
      <option disabled selected value> - Choose a Pseudonym - </option>
      <% for (pseudonym of Object.values(pseudonyms)){%>
      <option value="<%=pseudonym.Pseudonym%>"><%=pseudonym.Pseudonym%></option>
      <%}%></select><br><br>
        <label for="Title">Title:</label><br>
        <input type="text" id="Title" name="Title" required><br><br>
        <label for="Text">Post Text:</label><br>
        <textarea id="Text" name="Text" rows="6" cols="120" required></textarea><br>
        <br>
        <input type="submit" value="Publish"> <span class="glyphicon glyphicon-level-up"></span>
        </div>
    </form>

<%- include('../partials/footer') -%>
