<%- include('../partials/header.ejs'); %>
  <section id="posts">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2><%=post.Title%></h2>
        </div>
      </div>
    </div>
<%- include('../partials/footer.ejs'); %>
